@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset -1px 0 0 #002A47; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #478BF2; 
    border-radius: 3.5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #002A47; 
  }
  
/* unvisited link */
a:link {
  color: #478BF2;
  text-decoration: underline;
}

/* visited link */
a:visited {
  color: #478BF2;
  text-decoration: underline;
}

/* mouse over link */
a:hover {
  color: #478BF2;
  text-decoration: underline;

}

/* selected link */
a:active {
  color: #478BF2;
  text-decoration: underline;

}

/* CSS for calendar heatmap */
.react-calendar-heatmap .color-scale-1 { fill: #84a2e6; }
.react-calendar-heatmap .color-scale-2 { fill: #4378f3; }
.react-calendar-heatmap .color-scale-3 { fill: #0039bd; }
.react-calendar-heatmap .color-scale-4 { fill: #00113a; }